<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>Chat UI</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">

    <!-- github-markdown-light -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.css" integrity="sha512-n5zPz6LZB0QV1eraRj4OOxRbsV7a12eAGfFcrJ4bBFxxAwwYDp542z5M0w24tKPEhKk2QzjjIpR5hpOjJtGGoA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- prism code theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hi098123/prism-for-tistory/prism.css">
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</head>
<body>
<div class="chat-container">
    <div class="chat-box" id="chat-box">
    </div>
    <div>
        <label>
            <input type="checkbox" id="saveLog" />대화 기억하기(체크 시점부터 기억)
        </label>
        <label>
            <input type="checkbox" id="resKor" />한글로 답변받기
        </label>
    </div>
    <div class="input-area">
        <textarea id="message-input" placeholder="Type your message..." rows="1"></textarea>
        <button id="sendBtn" onclick="sendMsg()">Send</button>
    </div>
</div>

<script type="text/javascript">
    const textarea = document.querySelector('.input-area textarea');
    textarea.addEventListener('input', autoResize, false);

    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    }

    const myMsg = document.getElementById("message-input");
    const chatMsg = document.getElementById("chat-box");
    const sendBtn = document.getElementById("sendBtn");
    const saveLog = document.getElementById("saveLog");
    const resKor = document.getElementById("resKor");
    let logList = [];

    function eventClose() {
        toggleSendBtn();
    }

    function toggleSendBtn() {
        if (sendBtn.onclick == null) {
            sendBtn.onclick = sendMsg;
            sendBtn.classList.toggle("disable")
        } else {
            sendBtn.onclick = null;
            sendBtn.classList.toggle("disable")
        }
    }

    function addMsgBox(isSent, msg) {
        const msgBox = document.createElement("div");
        msgBox.classList.add("chat-message");
        msgBox.classList.add(isSent ? "sent" : "received");
        msgBox.innerText = msg
        chatMsg.appendChild(msgBox);
        return msgBox;
    }

    function converTag(str) {
        if(str !== undefined && str !== null && str !== '') {
            str = String(str);
            str = str.replaceAll(">", "&gt;");
            str = str.replaceAll("<", "&lt;");
        }
        return str;
    }

    async function sendMsg() {
        if (myMsg.value.replaceAll(" ", "") != "") {
            if (!saveLog.checked) {
                logList = [];
            }
            logList.push({
                messageType: "user",
                content: myMsg.value,
            });
            addMsgBox(true, myMsg.value)
            toggleSendBtn();

            const response = await fetch('/api/chat/generate', {
                method: "POST",
                body: JSON.stringify({
                    chatObjectList: logList,
                }),
                headers: {
                    "Content-Type": "application/json"
                },
            })
            const receivedMsg = addMsgBox(false, "Llama will respond soon...");
            myMsg.value = "";

            let msgStr = "";

            const reader = response.body.pipeThrough(new TextDecoderStream()).getReader();
            let dataBuffer = '';
            let index = 0;

            while(true) {
                const { done, value } = await reader.read();
                if (done) {
                    eventClose();
                    if (saveLog.checked) {
                        logList.push({
                            messageType: "assistant",
                            content: msgStr,
                        });
                    }
                    dataBuffer = '';
                    msgStr = '';
                    break;
                }
                dataBuffer += value;
                const chunk = dataBuffer.split("\n\n")
                if (chunk.length > index + 2) {
                    const text = JSON.parse(`{${chunk[index++].replace("data:", '"data":')}}`).data.result.output.content;
                    msgStr += converTag(text);
                    receivedMsg.innerHTML = `<md-block>${msgStr}</md-block>`;
                }
            }
        }
    }
</script>
</body>
</html>
